{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TQC8NQLL0"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-5TQC8NQLL0'); </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <link rel="icon" type="image/svg+xml" href="{% static 'images/max-logo-icon.png' %}" />
    <title>{% block title %}{% trans "Maximum - High-quality oil products" %}{% endblock %}</title>
    <meta
      name="description"
      content="{% block description %}Maximum - High-quality oil products{% endblock %}"
    />
    <meta
      name="keywords"
      content="{% block keywords %}oil, maximum, automotive oil, industrial oil{% endblock %}"
    />
    <meta name="robots" content="index, follow" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {% with request.path as clean_path %}
  <link rel="canonical" href="https://maximumlube.com{{ clean_path }}" />
  {% endwith %}

  {% block canonical %}
  {% endblock %}
    <link rel="alternate" hreflang="x-default" href="https://maximumlube.com/" />
    <link rel="alternate" hreflang="en" href="https://maximumlube.com/" />
    <link rel="alternate" hreflang="de" href="https://maximumlube.com/de/" />
    <link rel="alternate" hreflang="fr" href="https://maximumlube.com/fr/" />
    <link rel="alternate" hreflang="it" href="https://maximumlube.com/it/" />
    <link rel="alternate" hreflang="es" href="https://maximumlube.com/es/" />
    <link rel="alternate" hreflang="zh-hans" href="https://maximumlube.com/zh-hans/" />
    <meta property="og:title" content="Maximum" />
    <meta property="og:description" content="Maximum - High-quality oil products" />
    <meta property="og:image" content="https://maximumlube.com/static/images/max-logo.webp" />
    <meta property="og:url" content="https://maximumlube.com{{ request.path }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{% trans ' Maximum - High-quality oil products' %}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Maximum" />
    <meta name="twitter:title" content="Maximum" />
    <meta name="twitter:description" content="{% trans 'Maximum - High-quality oil products' %}" />
    <meta name="twitter:image" content="https://maximumlube.com/static/images/max-logo.webp" />
    <meta name="google-site-verification" content="0xrcVxzlcyqfM-m6nYcWEFG9zTUM6kUS4Fxg81XGPbs" />
    <meta
      name="ahrefs-site-verification"
      content="9e4cf268be7fc6c2b3be9598e3c023ec7ab0e3f8a6e5ac6884bf3d6fa032897c"
    />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <linkrel="preload"as="font"href="{% static 'assets/fonts/fa-solid-900.woff2' %}"
      type="font/woff2"crossorigin="anonymous"/>
    
     <linkrel="preload"as="font"href="{% static 'assets/fonts/TuskerGrotesk-4500Medium.ttf' %}"
      type="font/ttf"crossorigin="anonymous"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
    <link rel="stylesheet" href="{% static 'assets/css/main.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/shared.min.css' %}" />  

    {% block page_css %}{% endblock %}

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Maximum",
        "image": "https://maximumlube.com/static/images/max-logo.webp",
        "url": "https://maximumlube.com",
        "telephone": "",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "....",
          "addressLocality": "...",
          "addressRegion": "DE",
          "postalCode": "....",
          "addressCountry": "DE"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": .........,
          "longitude": ........
        },
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "09:00",
            "closes": "18:00"
          }
        ],
        "sameAs": [
          "https://www.linkedin.com/company/maximumlube/",
          "https://www.instagram.com/maximumlube/",
          "https://www.youtube.com/@MAXIMUMLubricants",
          "https://www.facebook.com/people/Maximum-Lubricants/61576957612166/c"
        ],
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+4915207776502",
          "contactType": "Customer Service",
          "availableLanguage": ["English", "German", "French", "Italian", "Spanish",  "Chinese"]
        }
      }
    </script>
    {% block extra_schema %}{% endblock %}
  </head>

  <body>
    {% include 'components/navbar.html' %} 
    
    {% block content %}
    {% endblock %}

    <a href="https://wa.me/4915207776502" aria-label="Whatsapp" class="fixed-whatsapp" target="_blank">
      <img loading="lazy"  class="whatsapp-icon" width="65" height="65" src="{% static 'images/whatsapp.webp' %}" alt="{% trans 'Whatsapp icon' %}" />
    </a>

    {% include 'components/footer.html' %}

    <script src="{% static 'assets/js/script.min.js' %}" defer></script>
    <script src="{% static 'assets/js/locale.min.js' %}" defer></script>
    <script src="{% static 'assets/js/search.min.js' %}" defer></script>


    {%block page_js %} {% endblock %}
  </body>
</html>
