{% extends 'base.html' %} {% load static %} {% load i18n %} 

{% block title%}{% trans "meta_title_brands" %}{% endblock %} 
{% block description %}{%trans "meta_description_brands" %}{%endblock %} 
{% block keywords %}{%trans "meta_keywords_brands" %}{%endblock %}


{%block page_css %}
<link rel="stylesheet" href="{% static 'assets/css/brand.css' %}" />
{% endblock %} 

{% block extra_schema %}
<script>

</script>
{% endblock %} 

{% block content %}
<div class="breadcrumb">
  <div class="container">
    <a href="{% url 'home:home' %}" aria-label="Home Page">
      <img loading="lazy" src="{% static '/images/home-page.svg' %}" alt="Home page icon" />
    </a>
    <i class="fa-solid fa-chevron-right"></i>
    <p> {% trans "Brand portal" %}</p>
  </div>
</div>


<section class="brand-portal container">
    <h1 class="section-title">{% trans "ALL TOOLS FOR THE MAXIMUM BRAND" %}</h1>
    <div class="brand-tab-components">
         <div class="tab {% if active_tab == 'brand-guideline' %}active{% endif %}" data-tab="brand-guideline">
             {% trans 'Brand Guideline' %}</div>
         <div class="tab {% if active_tab == 'promo-materials' %}active{% endif %}" data-tab="promo-materials">
             {% trans 'Promo materials' %}</div>
         <div class="tab {% if active_tab == 'image-library' %}active{% endif %}" data-tab="image-library">
             {% trans 'Image library' %}</div>
         <div class="tab {% if active_tab == 'videos' %}active{% endif %}" data-tab="videos">
            {% trans 'Videos' %}
         </div>
    </div>

      <div class="brand-content">
            <div class="tab-content active">
              <p class="section-desc"> 
                {% blocktrans %} We are building a strong international brand, and consistent application is essential: the proper use of the Maximum logo, fonts, and colors. On the Maximum Brand Portal, you will find our brand identity guidelines and relevant information for the correct and consistent application of our brand materials. There, you will also find downloads of various assets, including logos, photos, brochures. 
                {% endblocktrans %}
              </p>
              <div class="brand-components">
                <div class="item">
                  <h2>{% trans 'Brand Guideline' %}</h2>
                  <p>{{  guideline.short_content }}</p>
                  <button data-id="brand-guideline" class="button-style">{% trans 'Learn more' %}</button>
                </div>
                <div class="item">
                  <h2>{% trans 'Promo materials' %}</h2>
                  <p>{{  promo_material.short_content }}</p>
                  <button data-id="promo-materials" class="button-style">{% trans 'Learn more' %}</button>
                </div>
                <div class="item">
                  <h2>{% trans 'Image library' %}</h2>
                  <p>{{   image_library.short_content }}</p>
                  <button data-id="image-library" class="button-style">{% trans 'Learn more' %}</button>
                </div>
                <div class="item">
                  <h2>{% trans 'Videos' %}</h2>
                  <p>{{  video_library.short_content }}</p>
                  <button data-id="videos" class="button-style">{% trans 'Learn more' %}</button>
                </div>
              </div>
            </div>
            <!-- Brand Guideline Tab -->
            <div class="tab-content {% if active_tab == 'brand-guideline' %}active{% endif %}" id="brand-guideline">
              <div class="tab-brand-guideline">
                    <img src="{{ guideline.preview_image.url }}" 
                        alt="{{ guideline.title }}" 
                        loading="lazy"
                        data-pdf-url="{{ guideline.document.url }}"/>            
                    <div>
                      <h2>{{ guideline.title|linebreaksbr }}</h2>
                      <p>{{ guideline.description|linebreaksbr }}</p>
                      <button class="button-style">{% trans 'Open PDF' %}</button>
                    </div>
              </div>
            </div>
            <!-- Promo materialse Tab -->
            <div class="tab-content {% if active_tab == 'promo-materials' %}active{% endif %}" id="promo-materials">
              <p class="section-desc">{{promo_material.description}}</p>
              <div class="tab-promo-materials">
                {% for promo_material in promo_material.promo_materials.all %}
                  <div data-pdf-url="{{ promo_material.document.url }}">
                    <img src="{{ promo_material.preview_image.url}}" 
                        alt="{{ promo_material.title }}" 
                        loading="lazy"/>  
                    <button class="button-style">{% trans 'Open PDF' %}</button>
                    <p>{{promo_material.title|linebreaksbr}}</p>
                  </div>
                {% endfor %}
              </div>
            </div>             
            <!-- Image Library Tab -->
            <div class="tab-content {% if active_tab == 'image-library' %}active{% endif %}" id="image-library">
              <p class="section-desc">{{ image_library.description|linebreaksbr}}</p>
              <div class="tab-image-library">
                {% for  image_library in  image_library.images.all %}
                  <div class="item"> 
                    <img src="{{ image_library.image.url }}" alt="{{image_library.short_content|truncatechars:20}}" loading="lazy"/>
                    <div>
                      <i class="fa-solid fa-arrow-down-long"></i>
                    </div>
                  </div>
                {% endfor %} 
              </div>
           </div>

            <div class="tab-content {% if active_tab == 'videos' %}active{% endif %}" id="videos">
               <div class="tab-videos">
                  <p class="section-desc">{{ video_library.description|linebreaksbr }}</p>
                  <div class="brand-video-gallery">
                      {% for video in video_library.videos.all %}
                      <div class="video-thumbnail" data-video-url="{{ video.video_url }}">
                          {% comment %} {% if video.thumbnail %} {% endcomment %}
                          <img loading="lazy" src="{{ video.thumbnail.url }}" 
                          alt="Video title ">
                          {% comment %} {% endif %} {% endcomment %}
                          <div class="play-icon">
                            <i class="fa-solid fa-play"></i>
                          </div>
                      </div>
                      {% endfor %}
                  </div>

                  <div id="videoModal" class="video-modal">
                      <div class="modal-content">
                          <span class="close-modal">&times;</span>
                          <div class="video-container">
                              <iframe id="videoFrame" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
                          </div>
                      </div>
                  </div>
               </div>
            </div>

      </div>
      <a href="" class="button-style last">{% trans "Any questions? Please contact us." %}</a>
</section>

{% endblock %} 

{%block page_js %}
    <script src="{% static 'assets/js/brand.js' %}" defer></script>
{% endblock %} 