{% extends 'base.html' %} {% load static %} {% load i18n %} 
{% block title%}{% trans "meta_title_contact" %} {% endblock %} {% block description %}
{% trans "meta_description_contact" %} {%endblock %} {% block keywords %}
{% trans "meta_keywords_contact" %} {% endblock %}

{% block page_css %}

<link rel="stylesheet" href="{% static 'assets/css/contact.css' %}" />

{% endblock %}

{% block content %}
<div class="breadcrumb">
  <div class="container">
    <a href="{% url 'home:home' %}" aria-label="Home Page">
      <img
        loading="lazy"
        src="{% static '/images/home-page.svg' %}"
        alt="Home page icon"
      />
    </a>
    <i class="fa-solid fa-chevron-right"></i>
    <p>{% trans "Contact us" %}</p>
  </div>
</div>

<header class="page-header container">
  <div class="customer-types">
    <div class="customer-card">
      <h1>{% trans "I'm a consumer or garagist" %}</h1>
      <p>
        {% blocktrans %}
          Your local distributor will be happy to help with any questions you
        might have.
        {% endblocktrans %}
        
      </p>
     
    </div>

    <div class="bgwhite"></div>

    <div class="customer-card-bgwhite">
      <h1>Are you a retailer?</h1>
      <p>
        {% blocktrans %}
          We would love to understand your needs! Get in touch with us and our
        team will get back to you!
        {% endblocktrans %}
        
      </p>
      <div class="button-group">
        <a href="{% url 'contact:contact_step_two'%}" class="card-button-style">{% trans 'Contact us' %}</a>
      </div>
    </div>
  </div>
</header>

<div class="bg-white contact-page">
  <div class="container">
    <div class="find-us-section">
      <div class="top-content">
        <h2 class="section-title">{% trans 'Where to Find Us' %}</h2>
      </div>
      <div class="locations-grid">
        {% for info in contact_infos %}
        <div class="location-card">
          <h3>{{ info.title }}</h3>
          <div class="location-info">
            <p>{{ info.description }}</p>
          </div>
          <div class="contact-info">
            <i class="fa-solid fa-location-arrow"></i>
            <div>
              <a href="tel:{{ info.phone }}">{% trans 'Call' %}: {{ info.phone }}</a>
            </div>
          </div>
          <div class="contact-info">
            <i class="fa-solid fa-location-arrow"></i>
            <div>
              <a href="mailto:{{ info.email }}">
                {% trans 'Send email to' %}:
                <span class="underline">{{ info.email }}</span></a
              >
            </div>
          </div>
        </div>
{% endfor %}
        
      </div>
    </div>
  </div>

  <div class="container contact-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194249.92554199768!2d49.62926563758869!3d40.47183390709246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d277a2e85cd%3A0xd89a5cf24b320ca7!2sALCO%20LLC!5e0!3m2!1sen!2saz!4v1755161287199!5m2!1sen!2saz"
      width="100%"
      height="500"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="container">
    <div class="social-section">
      <h2 class="section-title">{% trans 'Follow Us On Social Media' %}</h2>
      <div class="social-icons">
        <a href="#" class="social-icon"
          ><img src="{% static 'images/youtube.svg' %}" alt="YouTube"
        /></a>
        <a href="#" class="social-icon"
          ><img src="{% static 'images/linkedin.svg' %}" alt="Linkedin"
        /></a>
        <a href="#" class="social-icon"
          ><img src="{% static 'images/instagram.svg' %}" alt="Instagram"
        /></a>
      </div>
    </div>
  </div>
  {% include 'components/contact_section.html' %}
</div>

{% endblock %} {%block page_js %} {% endblock %}
