{% extends 'base.html' %} {% load static %} {% load i18n %} 

{% block title %} {{ product.meta_title|safe }} {% endblock %}
{% block description %} {{ product.meta_description|safe }} {% endblock %}
{% block keywords %} {{ product.meta_keywords|safe }} {% endblock %}


{%block page_css %}
<link rel="stylesheet" href="{% static 'assets/css/product.min.css' %}" />
{% endblock %} 

{% block extra_schema %}
<script>

</script>
{% endblock %} 

{% block content %}

<div class="breadcrumb">
  <div class="container">
    <a href="{% url 'home:home' %}" aria-label="Home Page">
      <img loading="lazy" src="{% static '/images/home-page.svg' %}" alt="Home page icon" />
    </a>
    <i class="fa-solid fa-chevron-right"></i>
    <a href="{% url 'product:products' %}" aria-label="product Page">{% trans "Products" %}</a>
    <i class="fa-solid fa-chevron-right"></i>
    <p>{{ product.title }}</p>
  </div>
</div>

<section class="product-details container">
    <div class="detail-content">
        <div class = 'product-image' width="430" height="430" >
            <img loading="lazy" src="{{ product.image.url }}" width="430" height="430" alt="{{ product.title }}">
        </div>
        <div class="detail-info">
            <h1 class="section-title">{{ product.title|linebreaksbr }}</h1>
            <p class="product-id">{% trans "Product" %} {{ product.product_id|linebreaksbr }}</p>

            {% if available_liters %}
            <div class="quantity">
                <span>{%trans "Quantity" %}</span>
                {% for liter in available_liters %}
                <div>
                    {{ liter.volume|floatformat:"-1" }}L
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="product-properties">

                {% if product.product_group %}
                <div class="application">
                    <span>{% trans "Product type" %}</span>
                    <p>{{ product.product_group }}</p>
                </div>
                {% endif %}
                {% if product.viscosity %}
                <div class="application">
                    <span>{% trans "Viscosity" %}</span>
                    <p>{{ product.viscosity }}</p>
                </div>
                 {% endif %}
                {% if product.api and product.api != 'Not available' %}
                <div class="application">
                    <span>{% trans "API Standart" %}</span>
                    <p>{{ product.api }}</p>
                </div>
                {% endif %}
                                {% if product.segments.all %}
                <div class="application">
                    <span>{% trans "Segments" %}</span>
                    <div>
                    {% for segment in product.segments.all  %}
                    <p>{{ segment.title }}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

            <div>
                <p class="product-desc">{% trans "Description" %}</p>
                <p class="product-desc">{{ product.description|linebreaksbr }}</p>
            </div>

            <div>
                <h3 class="product-desc">{%trans "Specifications & Approvals" %}</h3>
                <p  class="product-desc">
                    {% if product.api and product.api != 'Not available' %}
                    API <span>{{ product.api }}</span> <br>
                    {% endif %}
                    {% if product.ilsac and product.ilsac != 'Not available' %}
                    ILSAC <span>{{ product.ilsac }}</span> <br>
                    {% endif %}
                    {% if product.acea and product.acea != 'Not available' %}
                    ACEA <span>{{ product.acea }}</span> <br>
                    {% endif %}
                    {% if product.jaso and product.jaso != 'Not available' %}
                    JASO <span>{{ product.jaso }}</span> <br>
                    {% endif %}
                    {% if product.oem_sertification and product.oem_sertification != 'Not available' %}
                    <span>{{ product.oem_sertification }}</span>
                    {% endif %}
                </p>
            </div>

            <div class="pdfs">
                <!-- <button>
                    <img loading="lazy" src="{% static 'images/pdf-icon.svg' %}" alt="PDF icon">
                    <span>{% trans "TDS" %}</span>
                </button> -->
                <button aria-label="{% trans 'SDS' %}">
                    <img loading="lazy" src="{% static 'images/pdf-icon.svg' %}" alt="PDF icon">
                    <span>{% trans "SDS" %}</span>
                </button>
                <button aria-label="{% trans 'PDS' %}">
                    <img loading="lazy" src="{% static 'images/pdf-icon.svg' %}" alt="PDF icon">
                    <span>{% trans "PDS" %}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="see-more">
        <div class="see-more-header">
             <h2 class="section-title">{% trans "See more" %} {{ product.product_group }}</h2>
             <a class="button-style" href="{% url 'product:products' %}?product_group={{ product.product_group.slug }}"
             aria-label="{{ product.product_group.title }}"> {% trans "View all" %}</a>
        </div>
        <div class="see-more-group">
            {% for related_product in related_products %}
            <a class="item" href="{% url 'product:product_detail' related_product.slug %}">
                <img loading="lazy" src="{{ related_product.image.url }}" alt="{{ related_product.title}}">
                <p>{{ related_product.title}}</p>
                <div class="button-style">{% trans "View details" %}</div>
            </a>
            {% empty %}
            <p>{% trans "No related products found" %}</p>
            {% endfor %}      
        </div>
    </div>
</section>

{% endblock %} 


{%block page_js %}
{% endblock %} 