{% extends 'base.html' %} {% load static %} {% load i18n %} 

{% block title%}{% trans "meta_title_services" %}{% endblock %} 
{% block description %}{%trans "meta_description_services" %}{%endblock %} 
{% block keywords %}{%trans "meta_keywords_services" %}{%endblock %}


{%block page_css %}
    <link rel="stylesheet" href="{% static 'assets/css/service.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" onload="this.rel='stylesheet'" />
    <noscript>
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" />
    </noscript>
{% endblock %} 

{% block extra_schema %}
<script>
</script>
{% endblock %} 

{% block content %}
<div class="breadcrumb">
  <div class="container">
    <a href="{% url 'home:home' %}" aria-label="Home Page">
      <img loading="lazy" src="{% static '/images/home-page.svg' %}" alt="Home page icon" />
    </a>
    <i class="fa-solid fa-chevron-right"></i>
    <p>{% trans "Services" %}</p>
  </div>
</div>

{% include 'components/page-header.html' %}

<section class="services container">
    <div class="top-content">
        <h2 class="section-title">
            <span  class="section-title">{% blocktrans %} Full-cycle support {% endblocktrans %}</span>
            {% blocktrans %} to drive your business forward {% endblocktrans %} 
        </h2>
        <p class="section-desc">{% blocktrans %} We go beyond delivering premium lubricants — we provide complete support to optimize your operations, build customer trust, and grow your brand. From lab-tested quality to logistics and marketing, we’ve got you covered.  {% endblocktrans %} </p>
    </div>

    <div class="service-contents">
        {% for service in services %}
        <div>
            <img loading="lazy" src="{{ service.image.url }}" alt="{{ service.title }}">
            <h3>{{ service.title|linebreaksbr }}</h3>
            <p>{{ service.description|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="service-main-contents">
        {% for service in service_contents %}
        <div class="item">
             <img loading="lazy" src="{{ service.image.url }}" alt="{{ service.title }}">
             <div>
                <span>{{ service.subtitle|linebreaksbr }}</span>
                <h3>{{ service.title|linebreaksbr }}</h3>
                <p>{{ service.description|linebreaksbr }}</p>
             </div>
        </div>
        {% endfor %}

    </div>
</section>

{% include 'components/contact_section.html' %} 
{% include 'components/featured_products.html' %} 


{% endblock %} 


{%block page_js %}
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}" defer></script>
{% endblock %} 