{% extends 'base.html' %} {% load static %} {% load i18n %} 

{% block title%}{% trans "meta_title_services" %}{% endblock %} 
{% block description %}{%trans "meta_description_services" %}{%endblock %} 
{% block keywords %}{%trans "meta_keywords_services" %}{%endblock %}


{%block page_css %}
    <link rel="stylesheet" href="{% static 'assets/css/service.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" onload="this.rel='stylesheet'" />
    <noscript>
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}" />
    </noscript>
{% endblock %} 

{% block extra_schema %}
<script>
</script>
{% endblock %} 

{% block content %}
<div class="breadcrumb">
  <div class="container">
    <a href="{% url 'home:home' %}" aria-label="Home Page">
      <img loading="lazy" src="{% static '/images/home-page.svg' %}" alt="Home page icon" />
    </a>
    <i class="fa-solid fa-chevron-right"></i>
    <p>{% trans "Services" %}</p>
  </div>
</div>

{% include 'components/page-header.html' %}
<section class="services container">
    <div class="top-content">
        <h2 class="section-title">
            <span  class="section-title">{% blocktrans %} Full-cycle support {% endblocktrans %}</span>
            {% blocktrans %} to drive your business forward {% endblocktrans %} 
        </h2>
        <p class="section-desc">{% blocktrans %} Maximum Lubricants produces and packages high-quality oils using premium imported base oils and additives, formulated by expert engineers. {% endblocktrans %} </p>
    </div>

    <div class="service-contents">
        <div>
            <img src="{% static '/images/swiper.jpg' %}" alt="">
            <h3>Certified Laboratory Testing</h3>
            <p>Our in-house lab conducts thousands of annual tests to ensure that every product meets OEM standards and delivers top-tier performance.</p>
        </div>
         <div>
            <img src="{% static '/images/swiper.jpg' %}" alt="">
            <h3>Certified Laboratory Testing</h3>
            <p>Our in-house lab conducts thousands of annual tests to ensure that every product meets OEM standards and delivers top-tier performance.</p>
        </div>
         <div>
            <img src="{% static '/images/swiper.jpg' %}" alt="">
            <h3>Certified Laboratory Testing</h3>
            <p>Our in-house lab conducts thousands of annual tests to ensure that every product meets OEM standards and delivers top-tier performance.</p>
        </div>
    </div>

    <div class="service-main-contents">
        <div class="item">
             <img src="{% static '/images/swiper.jpg' %}" alt="">
             <div>
                <span>LogistIcs & SHIPMENT</span>
                <h3>Integrated Logistics Network</h3>
                <p>desc</p>
             </div>
        </div>
        <div class="item">
             <img src="{% static '/images/swiper.jpg' %}" alt="">
             <div>
                <span>LogistIcs & SHIPMENT</span>
                <h3>Integrated Logistics Network</h3>
                <p>desc</p>
             </div>
        </div>
        <div class="item">
             <img src="{% static '/images/swiper.jpg' %}" alt="">
             <div>
                <span>LogistIcs & SHIPMENT</span>
                <h3>Integrated Logistics Network</h3>
                <p>desc</p>
             </div>
        </div>
    </div>
</section>

{% include 'components/featured_products.html' %} 

{% endblock %} 

{%block page_js %}
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}" defer></script>
{% endblock %} 