{% load static %} {% load i18n %}

<section class="container about-section-contact">
  <img
    src="{% static 'images/contact-bg.webp' %}"
    alt="contact-bg"
    class="bg-image"
  />

  <div class="contact-text">
    <p>
      Interested in <br />
      working with us?
    </p>
    <a href="{% url 'contact:contact_step_two'%}" class="button-style"
      >{% trans "Contact us" %}</a
    >
  </div>

    <img
    src="{% static 'images/contact-mobile.webp' %}"
    alt="contact-bg-mobile"
    class="bg-mobile"
  />
</section>
