{% load static %} {% load i18n %}

<meta name="csrf-token" content="{{ csrf_token }}" />

<nav>
    <div class="navbar ">
      <div class="container">
        <div class="nav-top">
          <a href="{% url 'home:home' %}" class="maximum-logo">
            <img loading="lazy" width="200" height="42" src="{% static '/images/max-logo.webp' %}" alt="{% trans 'Maximum logo' %}"/>
          </a>

          <div class="search">
              <form method="GET" class="search-form" action="{% url 'search:search' %}">
                  <input type="text" name="search" value="{{ query }}" placeholder="{% trans 'Search...' %}" />
                  <button type="button" class="search-button" aria-label="{% trans 'Search' %}">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
              </form>
          </div>

          <div>
            <ul>
              <li> <a href="{% url 'brands:brands' %}" aria-label="Brand Portal Page"> {% trans "Brand Portal" %}</a></li>
              <li><a href="{% url 'news:news' %}" aria-label="News Page">{% trans "News" %}</a></li>
            </ul>
            <div class="language-dropdown">
              <button class="lang-dropdown-btn" aria-label="{% trans 'Select Language' %}">
                {% get_current_language as CURRENT_LANGUAGE %}
                {% if CURRENT_LANGUAGE == 'en' %}EN 
                {% elif CURRENT_LANGUAGE == 'de' %}DE 
                {% elif CURRENT_LANGUAGE == 'es' %}ES 
                {% elif CURRENT_LANGUAGE == 'fr' %}FR 
                {% elif CURRENT_LANGUAGE == 'it' %}IT 
                {% elif CURRENT_LANGUAGE == 'zh-hans' %}汉语 
                {% else %}EN
                {% endif %}
                <i class="fa-solid fa-angle-down"></i>
              </button>
              <div class="dropdown-content" id="languageDropdown">
                {% get_available_languages as LANGUAGES %} 
                {% get_current_language as CURRENT_LANGUAGE %} 
                {% for lang_code, lang_name in LANGUAGES %}
                <button class="lang-option {% if lang_code == CURRENT_LANGUAGE %}active{% endif %}" data-lang="{{ lang_code }}" aria-label="{% trans 'Switch to other language' %}">
                  {% if lang_code == 'en' %}EN 
                  {% elif lang_code == 'de' %}DE 
                  {% elif lang_code == 'es'%}ES 
                  {% elif lang_code == 'fr' %}FR 
                  {% elif lang_code == 'it' %}IT 
                  {% elif lang_code == 'zh-hans' %}汉语 
                  {% else %}{{ lang_code|upper }}
                  {% endif %}
                </button>
                {% endfor %}
              </div> 
            </div>
          </div>
        </div>
        <div class="nav-bottom">
            <ul>
                <li class="products-dropdown-container">
                    <a href="{% url 'product:products' %}" class="nav-link-products" aria-label="Products Page">
                        {% trans "Products" %}
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="products-dropdown-menu">
                        <div class="dropdown-segments">
                            {% for segment in navbar_segments %}
                                <a href="#" class="segment-link {% if forloop.first %}active{% endif %}" data-segment="{{ segment.slug }}">{{ segment.title }}</a>
                            {% endfor %}
                            <a href="{% url 'product:products' %}" class="segment-link">{% trans "Other" %}</a>
                        </div>
                        <div class="dropdown-product-groups">
                            {% for segment in navbar_segments %}
                                <div class="product-group-list {% if forloop.first %}active{% endif %}" data-segment="{{ segment.slug }}">
                                    {% for group in segment.product_groups.all %}
                                        <a href="{% url 'product:products' %}?segments={{ segment.slug }}&product_group={{ group.slug }}">{{ group.title }}</a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li><a href="{% url 'about:about' %}" aria-label="About Page">{% trans "About us" %}</a></li>
                <li><a href="{% url 'services:services' %}" aria-label="Services Page">{% trans "Services" %}</a></li>
                <li><a href="{% url 'partnership:partnership' %}" aria-label="Partnership Page">{% trans "Partnership" %}</a></li>
                <li><a href="{% url 'contact:contact' %}" aria-label="Contact Page">{% trans "Contact" %}</a></li>
            </ul>
            <a href="https://maps.app.goo.gl/5ga9MLGcFydCcnx6A" class="location-icon">
                <img loading="lazy" class="icon" src="{% static '/images/location.svg' %}" width="30" height="30" alt="{% trans 'Location icon' %}" />
            </a>
        </div>
        <button class="hamburger" aria-label="{% trans 'Menu' %}" id="hamburger">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>


<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-panels-wrapper">
        <div class="mobile-menu-panel active" id="main-panel">
            <ul>
                <li>
                        <a href="{% url 'product:products' %}">{% trans "Products" %}</a>
                        <button class="panel-trigger" data-target="segments-panel" aria-label="{% trans 'Open segments panel' %}">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                </li>
                <li><a href="{% url 'about:about' %}">{% trans "About us" %}</a></li>
                <li><a href="{% url 'services:services' %}">{% trans "Services" %}</a></li>
                <li><a href="{% url 'partnership:partnership' %}">{% trans "Partnership" %}</a></li>
                <li><a href="{% url 'contact:contact' %}">{% trans "Contact" %}</a></li>
                <li><a href="{% url 'brands:brands' %}">{% trans "Brand Portal" %}</a></li>
                <li><a href="{% url 'news:news' %}">{% trans "News" %}</a></li>
            </ul>
        </div>

        <div class="mobile-menu-panel" id="segments-panel">
            <div class="panel-content">
                <ul>
                    <li>
                         <button class="panel-back-button" aria-label="{% trans 'BACK' %}"><i class="fa-solid fa-arrow-left-long"></i> BACK</button>
                    </li>
                </ul>
                <ul>
                    <li class="has-submenu">
                        <div class="menu-item-content">
                            <a href="{% url 'product:products' %}">{% trans "Products" %}</a>
                        </div>
                    </li>
                    {% for segment in navbar_segments %}
                    <li class="has-submenu">
                        <div class="menu-item-content">
                            <a href="{% url 'product:products' %}?segments={{ segment.slug }}">{{ segment.title }}</a>
                            <button class="panel-trigger" data-target="groups-panel" data-segment="{{ segment.slug }}" aria-label="{% trans 'Open groups panel' %}">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="mobile-menu-panel" id="groups-panel">
               <ul>
                <li>
                  <button class="panel-back-button"><i class="fa-solid fa-arrow-left-long"></i> BACK</button>
                </li>
            </ul>
                <ul>
                    <li  id="groups-panel-title"></li>
                </ul>
               <div class="panel-content" id="groups-panel-content">
               </div>
        </div>

    </div>

    <script id="mobile-menu-data" type="application/json">
        {{ mobile_menu_data_json|safe }}
    </script>

     <div class="mobile-menu-bottom">
        <a href="" class="location-icon">
            <img loading="lazy" src="{% static '/images/location.svg' %}" width="30" height="30" alt="{% trans 'Location icon' %}"/>
        </a>
        <a class="whatsapp" href="https://wa.me/4915207776502">
            <p>{% blocktrans %} Have a question? <br> Let's chat on WhatsApp!{% endblocktrans %}</p>
            <img loading="lazy" src="{% static '/images/whatsapp.svg' %}" alt="Whatsapp icon"/>
        </a>
    </div>
</div> 
</nav>
