.customer-types {
  position: relative;
  display: flex;
  margin-bottom: 60px;
}

.customer-card-bgwhite {
  position: absolute;
  top: 25px;
  right: 210px;
  background: white;
  height: 280px;
  width: 36%;
  border-radius: 4px;
  box-shadow: 0px 4px 8.7px 0px #00000014;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 35px;
  justify-content: center;
}

.bgwhite {
  background-color: white;
  position: absolute;
  width: 36%;
  height: 280px;
  z-index: -1;
  left: 20%;
  top: 80px;
  box-shadow: 0px 4px 8.7px 0px #00000014;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.customer-card {
  position: absolute;
  left: 100px;
  top: 60px;
  height: 280px;
  width: 36%;
  padding: 35px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer-card-bgwhite h1,
.customer-card h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0px;
}

.customer-card-bgwhite p,
.customer-card p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 26px;
  letter-spacing: 0px;
  margin: 15px 0;
}

.button-group {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.find-us-section {
  padding: 60px 0;
}

.find-us-section .section-title,
.social-section .section-title {
  margin-bottom: 50px;
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.location-card {
  text-align: left;
  background-color: #f2f2f3;
  padding: 25px;
}

.location-card h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 26px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0px;
  margin-bottom: 15px;
  color: #1c1c1c;
}

.location-info {
  margin-bottom: 20px;
}

.location-info p {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  color: #8c8c8c;
  margin-bottom: 10px;
}

.contact-info i {
  color: #ffb200;
  margin-top: 10px;
  font-size: 18px;
}

.contact-info-last i {
  color: #ffb200;
  font-size: 18px;
  margin-bottom: 3px;
}

.contact-info,
.contact-info-last {
  display: flex;
  gap: 3px;
}

.contact-info > div,
.contact-info-last > div {
  display: flex;
  flex-direction: column;
}

.contact-info-last {
  align-items: end;
  gap: 6px;
}

.contact-info a,
.contact-info-last a,
.contact-info a span,
.contact-info-last a span {
  font-family: "Roboto";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0px;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #1c1c1c;
}
.contact-info .underline,
.contact-info-last .underline {
  text-decoration: underline;
}

.social-section {
  text-align: center;
  padding: 40px 40px 10px 40px;
}

.social-icon img {
  width: 50px;
  height: 50px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .locations-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .customer-card {
    padding: 20px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .customer-card h2 {
    font-size: 20px;
  }

  .social-icons {
    gap: 15px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

.card-button-style {
  text-transform: capitalize;
  text-align: center;
  background-color: var(--main);
  box-shadow: 0 4px 15px rgba(245, 223, 27, 0.3);
  padding: 5px 30px;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  white-space: nowrap;
  leading-trim: NONE;
  letter-spacing: 0px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  line-height: 30px;
}

.card-button-style-black {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
  letter-spacing: 0px;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 30px;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  border: 2px solid #1c1c1c;
}

.contact-page {
  padding-bottom: 60px;
}

.contact-map {
  margin: 30px auto;
}

@media screen and (max-width: 1060px) {
  .customer-card-bgwhite {
    right: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .customer-card-bgwhite {
    top: -15px;
  }
  .customer-card {
    top: 0px;
  }
  .bgwhite {
    width: 33%;
    height: 248px;
    left: 25%;
    top: 40px;
  }
  .customer-card-bgwhite p,
  .customer-card p {
    font-size: 16px;
    line-height: 24px;
  }
  .customer-card-bgwhite h1,
  .customer-card h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .card-button-style {
    padding: 3px 30px;
    font-size: 15px;
  }
  .social-section .section-title {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 900px) {
  .location-card h3 {
    font-size: 24px;
    line-height: 35px;
  }
  .locations-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .locations-grid {
    gap: 15px;
  }
  .contact-info a,
  .contact-info-last a,
  .contact-info a span,
  .contact-info-last a span {
    font-size: 17px;
    line-height: 28px;
  }
  .customer-card-bgwhite {
    right: 75px;
    width: 40%;
  }
  .customer-card {
    left: 60px;
  }
  .bgwhite {
    left: 23%;
    width: 37%;
  }
}

@media screen and (max-width: 700px) {
  .customer-card-bgwhite h1,
  .customer-card h1 {
    font-size: 25px;
    line-height: 32px;
  }

  .customer-card-bgwhite p,
  .customer-card p {
    line-height: 23px;
  }
  .card-button-style {
    padding: 2px 25px;
    font-size: 14px;
  }
  .page-header {
    height: 60vh;
  }
  .customer-card-bgwhite {
    top: 249px;
    width: 70%;
    height: 220px;
  }
  .bgwhite {
    left: 18%;
    width: 70%;
    height: 220px;
    top: 7px;
    padding: 35px;
  }
  .customer-card {
    left: 126px;
    width: 63%;
    top: -17px;
  }
  .social-icon img {
    width: 46px;
  }
  .social-icons {
    gap: 15px;
  }
  .social-section {
    padding: 20px 40px 10px 40px;
  }
  .social-icons {
    gap: 10px;
  }
  .social-section .section-title {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 650px) {
  .locations-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .location-card h3 {
    font-size: 22px;
    line-height: 31px;
  }
}

@media screen and (max-width: 620px) {
  .customer-card {
    left: 117px;
  }
}

@media screen and (max-width: 600px) {
  .bgwhite {
    left: 16%;
  }
  .customer-card {
    left: 94px;
  }
}

@media screen and (max-width: 550px) {
  .social-icon img {
    width: 38px;
  }
}

@media screen and (max-width: 500px) {
  .location-card h3 {
    font-size: 20px;
    line-height: 29px;
  }
  .contact-info a,
  .contact-info-last a,
  .contact-info a span,
  .contact-info-last a span {
    font-size: 16px;
  }
  .location-info p {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .location-card h3 {
    margin-bottom: 10px;
  }
  .bgwhite {
    left: 10%;
    width: 83%;
  }
  .customer-card-bgwhite {
    width: 83%;
    right: 31px;
  }
  .customer-card {
    left: 60px;
    width: 76%;
  }
}

@media screen and (max-width: 410px) {
  .customer-card-bgwhite {
    right: 26px;
  }
  .customer-card {
    left: 56px;
  }
}
