.home-header .container.f {
  padding-top: 200px;
}

.header-top-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-content div h2 {
  color: var(--main);
}

.home-header .whatsapp {
  min-width: 220px;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}

.home-header .whatsapp p {
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
}
.home-header .whatsapp img {
  width: 55px;
  position: absolute;
  right: 5px;
  top: -35px;
}

.home-header .swiper img {
  width: 100%;
}

.home-header {
  position: relative;
}
.home-header .swiper {
  width: 100%;
  height: 40vh;
  margin: 40px auto;
  border-radius: 10px;
}

.home-header .swiper-slide {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-left: 18%;
  padding-top: 5%;
  position: relative;
}

.swiper-slide .background-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -5;
}

.home-header .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0128622d;
  z-index: 1;
}
.home-header .slide-content {
  max-width: 50%;
  z-index: 2;
}

.home-header .slide-content a {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.home-header .slide-content p {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0px;
}
.swiper-navigation {
  margin: 30px auto;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.swiper-navigation div {
  width: 50%;
  height: 8px;
  border-radius: 6px;
  background-color: var(--gray);
  cursor: pointer;
  transition: background-color 0.3s;
}
.swiper-navigation div.active {
  background-color: var(--dark);
}
@media (max-width: 1200px) {
  .home-header .container.f {
    padding-top: 190px;
  }

  .home-header .slide-content {
    max-width: 60%;
  }

  .home-header .swiper {
    height: 35vh;
  }
}
@media (max-width: 1000px) {
  .home-header .whatsapp {
    min-width: 100px;
    padding: 8px 10px;
  }

  .home-header .whatsapp p {
    font-size: 12px;
    line-height: 16px;
  }
  .home-header .whatsapp img {
    width: 35px;
    top: -23px;
  }

  .home-header .container.f {
    padding-top: 150px;
  }

  .home-header .slide-content p {
    font-size: 26px;
    line-height: 30px;
  }

  .home-header .swiper {
    height: 30vh;
  }
}
@media (max-width: 700px) {
  .home-header .container.f {
    padding-top: 100px;
  }

  .home-header .swiper {
    height: 26vh;
    margin: 20px auto;
  }
  .home-header .swiper-slide {
    padding-top: 5%;
    padding-left: 8%;
  }
  .home-header .slide-content {
    max-width: 60%;
  }

  .home-header .slide-content p {
    font-size: 22px;
    line-height: 28px;
  }
  .swiper-navigation {
    margin: 20px auto;
  }
  .swiper-navigation div {
    height: 6px;
  }
}

@media (max-width: 550px) {
  .home-header .container.f {
    padding-top: 100px;
  }

  .home-header .container.s {
    max-width: 100%;
  }

  .swiper-navigation {
    padding: 0 10px;
  }

  .home-header .swiper {
    border-radius: 0;
  }
  .home-header .slide-content {
    max-width: 70%;
  }

  .home-header .slide-content p {
    font-size: 16px;
    line-height: 20px;
  }
  .home-header .slide-content a {
    gap: 15px;
  }
}

.home-catalog {
  margin: 30px auto;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-catalog .button-style {
  margin: 30px auto;
}
.home-catalog .catalog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: stretch;
  gap: 20px;
}
.home-catalog .catalog-element {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.home-catalog .catalog-element img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.home-catalog .catalog-element div {
  width: 100%;
  height: 30%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.home-catalog .catalog-element h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.home-catalog .catalog-element a {
  color: var(--main);
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  transition: all 0.4s ease;
}

.home-catalog .catalog-element a i {
  color: var(--main);
  border-radius: 50%;
  font-size: 16px;
  transition: all 0.4s ease;
}

.home-catalog .catalog-element a:hover,
.home-catalog .catalog-element a:hover i {
  color: var(--hover-main);
}

@media (max-width: 1024px) {
  .home-catalog .catalog-element {
    height: 300px;
  }
  .home-catalog .catalog-element h2 {
    font-size: 18px;
    line-height: 22px;
  }

  .home-catalog .catalog-element a {
    font-size: 14px;
  }

  .home-catalog .catalog-element a i {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .home-catalog .catalog-element {
    height: 240px;
  }

  .home-catalog .catalog-element img {
    height: 60%;
  }

  .home-catalog .catalog-element div {
    height: 40%;
  }
  .home-catalog .catalog-element h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .home-catalog .catalog-element a {
    font-size: 12px;
  }

  .home-catalog .catalog-element a i {
    font-size: 12px;
  }
}
@media (max-width: 570px) {
  .home-catalog .catalog-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home-catalog .catalog-element h2 {
    font-size: 14px;
    line-height: 18px;
  }

  .home-catalog .catalog-element a {
    font-size: 10px;
  }

  .home-catalog .button-style {
    margin: 20px auto;
  }
}

.grow-business {
  margin: 50px auto;
}
.grow-business,
.grow-business .home-services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grow-business .section-title {
  width: 60%;
  text-align: center;
}
.grow-business .section-desc {
  width: 80%;
  text-align: center;
}

.home-services {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}
.home-services .bg-image {
  position: absolute;
  width: 100%;
  max-height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  transform: scaleY(-1);
}
.home-services .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.home-services .service-flex {
  display: flex;
  gap: 15px;
  align-items: stretch;
  justify-content: space-around;
}

.home-services .service-flex .item {
  width: 30%;
  backdrop-filter: blur(30px);
  padding: 30px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-services .service-flex .item:nth-child(2) {
  transform: translateY(-50px);
}

.home-services .service-flex h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0px;
  margin-bottom: 15px;
}
.home-services .service-flex p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}

@media (max-width: 1024px) {
  .grow-business .top-content {
    gap: 15px;
  }
  .home-services {
    height: 500px;
  }

  .home-services .service-flex .item {
    padding: 20px 15px;
    width: 33%;
  }

  .home-services .service-flex h2 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .home-services .service-flex p {
    font-size: 13px;
    line-height: 15px;
  }
  .home-services .service-flex .item:nth-child(2) {
    transform: translateY(-40px);
  }
}

@media (max-width: 800px) {
  .home-services {
    height: 400px;
    padding-top: 50px;
  }

  .home-services .service-flex .item {
    padding: 15px 10px;
    width: 33.3%;
  }

  .home-services .service-flex h2 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 6px;
  }
  .home-services .service-flex p {
    font-size: 12px;
    line-height: 14px;
  }
  .home-services .service-flex .item:nth-child(2) {
    transform: translateY(-30px);
  }
}

@media (max-width: 550px) {
  .home-services {
    height: 300px;
  }

  .home-services .service-flex {
    width: 800px;
    gap: 25px;
  }

  .home-services .service-flex .item {
    padding: 20px 15px;
    width: 30%;
  }

  .home-services .service-flex h2 {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-ranges {
  margin: 100px auto;
}

.product-ranges .section-title,
.product-ranges .section-desc {
  width: 80%;
  text-align: center;
}

.product-ranges .top-content {
  margin-bottom: 50px;
}

/* Product Ranges Swiper */
.product-ranges .industrySwiper {
  width: 100%;
  height: 350px;
  margin: 30px auto;
  position: relative;
  /* overflow: visible; */
}

.product-ranges .industrySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.product-ranges .industrySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.product-ranges .industrySwiper .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}

.product-ranges .slide-industry-content {
  width: 80%;
  z-index: 2;
  padding: 15px;
  text-align: center;
  background-color: #ffffffc2;
  margin-top: 20px;
  border-radius: 4px;
  position: relative;
}

.product-ranges .slide-industry-content::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffffc2;
}

.product-ranges .slide-industry-content h3 {
  color: var(--dark);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.industry-navigation {
  margin: 30px auto;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.industry-navigation .swiper-button-next,
.industry-navigation .swiper-button-prev {
  position: static;
  color: var(--main);
  background-color: rgba(255, 255, 255, 0.9);
  width: 45px;
  height: 45px;
  margin-top: 0;
  border-radius: 50%;
  font-weight: 700;
  border: 1px solid var(--main);
  transition: all 0.4s ease;
}

.industry-navigation .swiper-button-next:after,
.industry-navigation .swiper-button-prev:after {
  display: none;
}

.industry-navigation .swiper-button-next i,
.industry-navigation .swiper-button-prev i {
  font-size: 14px;
}

.industry-navigation .swiper-button-next:hover,
.industry-navigation .swiper-button-prev:hover {
  background-color: var(--main);
  color: #fff;
}

/* Media Queries */
@media (max-width: 1200px) {
  .product-ranges .industrySwiper {
    height: 300px;
  }
}

@media (max-width: 800px) {
  .product-ranges .industrySwiper {
    height: 250px;
    margin: 20px auto;
  }

  .product-ranges .slide-industry-content {
    padding: 12px;
  }

  .product-ranges .slide-industry-content h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .industry-navigation .swiper-button-next,
  .industry-navigation .swiper-button-prev {
    width: 40px;
    height: 40px;
  }

  .industry-navigation .swiper-button-next i,
  .industry-navigation .swiper-button-prev i {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .product-ranges .industrySwiper {
    height: 220px;
  }
  .product-ranges .slide-industry-content {
    padding: 8px;
  }

  .product-ranges .slide-industry-content h3 {
    font-size: 14px;
    line-height: 17px;
  }

  .industry-navigation {
    margin: 20px auto;
    gap: 10px;
  }

  .industry-navigation .swiper-button-next,
  .industry-navigation .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
  .industry-navigation .swiper-button-next i,
  .industry-navigation .swiper-button-prev i {
    font-size: 10px;
  }
}

.home-production .top-content {
  align-items: start !important;
  justify-content: start !important;
}

.home-production .top-content h2 {
  width: 70%;
}
.home-production .top-content {
  width: 60%;
  text-align: left;
}
.top-content span {
  color: var(--main) !important;
}

.production-section {
  position: relative;
  margin: 50px auto;
  height: 450px;
  overflow: hidden;
  border-radius: 8px;
}

.production-section .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.production-section .section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  z-index: 1;
  background: linear-gradient(26.64deg, rgba(35, 31, 12, 0.81) 11.06%, rgba(35, 31, 12, 0) 68.89%);
  background-blend-mode: multiply;
}

.production-section .play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  border: 13px solid var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.3s, box-shadow 0.3s;
}
.production-section .play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.production-section .play-button i {
  color: var(--main);
  font-size: 20px;
  margin-left: 4px;
}

.production-section .play-button::after {
  content: '';
  position: absolute;
  border: 2px solid var(--main);
  border-radius: 50%;
  opacity: 0.6;
  z-index: -1;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.production-section .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: none;
}
.production-section .video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.production-section .hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 770px) {
  .production-section {
    height: 300px;
    margin: 30px auto;
  }
  .production-section .play-button {
    width: 70px;
    height: 70px;
    border: 9px solid var(--main);
  }
  .production-section .play-button i {
    font-size: 18px;
  }
  .production-section .play-button::after {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 520px) {
  .production-section {
    height: 230px;
    margin: 20px auto;
  }

  .production-section .play-button {
    width: 50px;
    height: 50px;
    border: 8px solid var(--main);
  }
  .production-section .play-button i {
    font-size: 16px;
  }

  .production-section .play-button::after {
    width: 80px;
    height: 80px;
  }
}

.global-presence {
  margin: 100px auto;
}

.global-presence .section-desc {
  width: 70%;
}

.global-presence .properties {
  margin: 30px auto;
  display: grid;
  align-items: start;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.global-presence .properties .item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 8px;
}

.global-presence .properties h3 {
  font-family: 'Tusker Grotesk', sans-serif;
  font-weight: 500;
  font-style: 4500 Medium;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0px;
}
.global-presence .properties .section-desc {
  color: #888888 !important;
}

@media (max-width: 1024px) {
  .global-presence .properties h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .global-presence .properties .section-desc {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 800px) {
  .global-presence .properties h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .global-presence .properties {
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .global-presence .properties h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .global-presence .properties .section-desc {
    font-size: 12px;
    line-height: 14px;
  }
}

.home-news {
  height: 500px;
  margin: 30px auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
}

.home-news .news-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.home-news .news-left .top-content {
  text-align: left !important;
  align-items: flex-start !important;
}

.home-news .newsSwiper {
  width: 60%;
  height: 100%;
}

.home-news .newsSwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.home-news .newsSwiper .swiper-slide {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-news .newsSwiper .swiper-slide:nth-child(2n) {
  flex-direction: column-reverse;
}

.home-news .newsSwiper .swiper-slide .slide-image {
  width: 100%;
  height: 55%;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
  padding: 15px;
}

.home-news .newsSwiper .swiper-slide .slide-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.home-news .newsSwiper .swiper-slide .slide-content {
  width: 100%;
  height: 45%;
  padding: 20px;
  background-color: var(--main);
  border-radius: 6px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.home-news .newsSwiper .swiper-slide .slide-content h3 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 24px;
}
.home-news .newsSwiper .swiper-slide .slide-content p {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}

.home-news .news-navigation {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.home-news .news-navigation .news-swiper-button-next,
.home-news .news-navigation .news-swiper-button-prev {
  color: var(--main);
  background-color: rgba(255, 255, 255, 0.9);
  width: 45px;
  height: 45px;
  margin-top: 0;
  border-radius: 50%;
  font-weight: 700;
  border: 1px solid var(--main);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home-news .news-navigation .news-swiper-button-next i,
.home-news .news-navigation .news-swiper-button-prev i {
  font-size: 14px;
  transform: none;
}

.home-news .news-navigation .news-swiper-button-next:hover,
.home-news .news-navigation .news-swiper-button-prev:hover {
  background-color: var(--main);
  color: #fff;
}

@media (max-width: 1024px) {
  .home-news {
    height: 400px;
  }

  .home-news .newsSwiper .swiper-slide .slide-content h3 {
    font-size: 16px;
    line-height: 18px;
  }

  .home-news .newsSwiper .swiper-slide .slide-content p {
    font-size: 13px;
    line-height: 15px;
  }

  .home-news .newsSwiper .swiper-slide .slide-content {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .home-news {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }

  .home-news .news-left {
    width: 70%;
  }

  .home-news .newsSwiper {
    width: 100%;
    height: 430px;
  }

  .home-news .news-left {
    height: auto;
  }

  .home-news .news-navigation {
    display: none;
  }

  .home-news .newsSwiper .swiper-slide .slide-content {
    padding: 20px 30px;
  }
}

@media (max-width: 550px) {
  .home-news .newsSwiper {
    height: 350px;
  }

  .home-news .newsSwiper .swiper-slide .slide-content {
    padding: 15px;
  }

  .home-news .newsSwiper .swiper-slide .slide-content h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .home-news .newsSwiper .swiper-slide .slide-content p {
    font-size: 12px;
    line-height: 14px;
  }

  .home-news .newsSwiper .swiper-slide .slide-image {
    align-items: start;
    justify-content: right;
  }
}

.featured-products {
  margin: 100px auto;
}

.featured-products .top-content .section-desc {
  width: 80%;
}

.featured-products .products-container {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  width: 100%;
  height: 540px;
}

.featured-products .main-product {
  width: 40%;
  height: 100%;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 40px 30px;
  flex-shrink: 0;
}

.featured-products .main-product img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  object-fit: cover;
}

.featured-products .products-swiper-container {
  width: 60%;
  height: 100%;
}
.featured-products .productsSwiper {
  width: 100%;
  height: 100%;
}

.featured-products .swiper-wrapper {
  height: 100%;
}

.featured-products .swiper-slide {
  border-radius: 8px;
  border: 1px solid var(--gray);
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 49%;
}

.featured-products .swiper-slide .product-image {
  width: 100%;
  height: 70%;
  padding: 20px;
}

.featured-products .swiper-slide .product-image img {
  max-width: 50%;
  max-height: 130px;
  object-fit: contain;
}

.featured-products .swiper-slide .product-content {
  width: 100%;
  padding: 10px 15px;
}

.featured-products .swiper-slide .product-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.featured-products .swiper-slide .product-specs {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
  margin-bottom: 3px;
}

.featured-products .swiper-slide .product-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}

.featured-products .product-navigation {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 30px;
}

.featured-products .product-swiper-button-prev,
.featured-products .product-swiper-button-next {
  color: var(--main);
  background-color: rgba(255, 255, 255, 0.9);
  width: 45px;
  height: 45px;
  margin-top: 0;
  border-radius: 50%;
  font-weight: 700;
  border: 1px solid var(--main);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.featured-products .product-swiper-button-prev i,
.featured-products .product-swiper-button-next i {
  font-size: 14px;
  transform: none;
}

.featured-products .product-swiper-button-next:hover,
.featured-products .product-swiper-button-prev:hover {
  background-color: var(--main);
  color: #fff;
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .featured-products .products-container {
    gap: 10px;
    height: 500px;
  }
}

@media (max-width: 900px) {
  .featured-products .swiper-slide .product-name {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
  }

  .featured-products .swiper-slide .product-specs {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
  }

  .featured-products .swiper-slide .product-type {
    font-size: 11px;
    line-height: 13px;
  }

  .featured-products .swiper-slide .product-image img {
    max-width: 60%;
  }

  .featured-products .main-product {
    width: 50%;
  }
  .featured-products .products-swiper-container {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .featured-products .product-swiper-button-prev,
  .featured-products .product-swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .featured-products .product-swiper-button-prev i,
  .featured-products .product-swiper-button-next i {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .featured-products .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .featured-products .products-container {
    height: 380px;
  }

  .featured-products .main-product {
    width: 60%;
  }

  .featured-products .products-swiper-container {
    width: 40%;
  }
  .featured-products .swiper-slide .product-image {
    height: 70%;
    padding: 10px;
    padding-top: 30px;
  }

  .featured-products .swiper-slide .product-content {
    height: 30%;
    padding: 10px;
  }
  .featured-products .swiper-slide .product-image img {
    max-width: 80%;
    max-height: 160px;
  }
}

@media (max-width: 550px) {
  .featured-products .products-container {
    height: 300px;
  }

  .featured-products .product-swiper-button-prev,
  .featured-products .product-swiper-button-next {
    width: 30px;
    height: 30px;
  }

  .featured-products .product-swiper-button-prev i,
  .featured-products .product-swiper-button-next i {
    font-size: 10px;
  }
}

.our-partners {
  margin: 50px auto;
}

.our-partners .swiper-wrapper-container {
  position: relative;
  width: 100%;
  margin: 40px auto;
  padding: 0 40px;
}

.productsSwiper {
  width: 100%;
  overflow: hidden;
}

.our-partners .swiper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-partners .swiper-slide {
  cursor: pointer;
}

.our-partners .swiper-slide img {
  max-height: 100px;
  object-fit: contain;
}

.our-partners .partners-swiper-button-prev,
.our-partners .partners-swiper-button-next,
.testimonials .review-swiper-button-prev,
.testimonials .review-swiper-button-next {
  color: var(--main);
  background-color: rgba(255, 255, 255, 0.9);
  width: 45px;
  height: 45px;
  margin-top: 0;
  border-radius: 50%;
  font-weight: 700;
  border: 1px solid var(--main);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.our-partners .partners-swiper-button-prev {
  left: -5%;
}
.our-partners .partners-swiper-button-next {
  right: -5%;
}
.our-partners .partners-swiper-button-prev i,
.our-partners .partners-swiper-button-next i,
.testimonials .review-swiper-button-prev i,
.testimonials .review-swiper-button-next i {
  font-size: 14px;
  transform: none;
}

.our-partners .partners-swiper-button-next:hover,
.our-partners .partners-swiper-button-prev:hover,
.testimonials .review-swiper-button-prev:hover,
.testimonials .review-swiper-button-next:hover {
  background-color: var(--main);
  color: #fff;
}

@media (max-width: 1400px) {
  .our-partners .partners-swiper-button-prev {
    left: 0;
  }
  .our-partners .partners-swiper-button-next {
    right: 0;
  }

  .our-partners .swiper-wrapper-container {
    padding: 0 60px;
  }

  .our-partners .swiper-slide img {
    max-height: 95px;
  }
}

@media (max-width: 800px) {
  .our-partners .partners-swiper-button-prev,
  .our-partners .partners-swiper-button-next {
    width: 40px;
    height: 40px;
  }

  .our-partners .partners-swiper-button-prev i,
  .our-partners .partners-swiper-button-next i {
    font-size: 12px;
  }
  .our-partners .swiper-slide img {
    max-width: 80%;
    max-height: 85px;
  }
}

@media (max-width: 550px) {
  .our-partners .partners-swiper-button-prev,
  .our-partners .partners-swiper-button-next {
    display: none;
  }

  .our-partners .swiper-slide img {
    max-height: 50px;
  }

  .our-partners .swiper-wrapper-container {
    padding: 0 35px;
  }
}

.testimonials {
  margin: 120px auto;
  background-color: var(--background);
  padding: 100px 0;
  position: relative;
  height: 1000px;
  border-radius: 8px;
}

.testimonials .section-title {
  color: #fff;
}

.testimonials .button-style {
  cursor: pointer;
  border: none;
  margin: 10px auto;
}

.testimonials .review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  transform: translateX(-3%);
  width: 106%;
  height: auto;
}

.testimonials .review-swiper-button-prev {
  position: absolute;
  top: 370px;
  left: -9%;
}

.testimonials .review-swiper-button-next {
  position: absolute;
  top: 370px;
  right: -8%;
}

.reviewSwiper {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.testimonials .review-container .swiper {
  width: 100%;
  overflow: hidden;
}

.testimonials .review-container .swiper-wrapper {
  width: 100%;
  display: flex !important;
  gap: 10px;
}

.testimonials .review-container .swiper-slide {
  background-color: #fff !important;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 32% !important;
  height: 180px;
  padding: 22px;
}
.testimonials .review-container .swiper-slide .star-rating i {
  color: var(--main);
}

.testimonials .review-container .swiper-slide h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.testimonials .review-container p,
.testimonials .faq-container p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--dark);
}

.testimonials .faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
}

.testimonials .faq-container p {
  font-weight: 600;
}
.testimonials .top-content.faq {
  margin: 50px auto;
}
.testimonials .faq-container {
  width: 108%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  transform: translateX(-4%);
  margin-bottom: 50px;
}

.testimonials .faq-container .faq-item {
  width: 25%;
  background-color: #fff;
  padding: 22px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  justify-content: space-between;
}

.testimonials .faq-container .faq-item div {
  width: 35px;
  height: 35px;
  background-color: var(--gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  transition: all 0.4s ease;
}

.testimonials .faq-container .faq-item div:hover {
  background-color: var(--background);
}

.testimonials .faq-container .faq-item div i {
  transform: rotate(-45deg);
}

@media (max-width: 1500px) {
  .testimonials .review-swiper-button-prev,
  .testimonials .review-swiper-button-next {
    display: none;
  }

  .testimonials .review-container {
    position: static;
    width: 100%;
    margin: 50px auto;
    transform: translateX(0);
  }

  .testimonials .review-container .swiper-slide {
    border-radius: 8px;
    width: 38% !important;
    box-sizing: border-box;
    height: 180px;
    padding: 20px;
  }

  .testimonials .faq-container {
    width: 102%;
    transform: translateX(-1%);
    margin-bottom: 30px;
  }

  .testimonials {
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  .testimonials .review-container {
    margin: 40px auto;
  }

  .testimonials .review-container .swiper-slide {
    padding: 18px;
  }

  .testimonials .review-container .swiper-wrapper {
    gap: 0px;
  }

  .testimonials .review-container .swiper-slide h3 {
    font-size: 16px;
    line-height: 18px;
  }

  .testimonials .review-container p,
  .testimonials .faq-container p {
    font-size: 14px;
    line-height: 16px;
  }

  .testimonials {
    padding: 50px 0;
    height: 800px;
  }

  .testimonials .faq-container {
    width: 130%;
    transform: translateX(-15%);
  }

  .testimonials .faq-container .faq-item {
    padding: 15px;
  }

  .testimonials .faq-container .faq-item div {
    width: 25px;
    height: 25px;
  }

  .testimonials .faq-container .faq-item div i {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .testimonials .review-container {
    margin: 30px auto;
  }

  .testimonials .review-container .swiper-slide {
    height: 160px;
    padding: 15px;
    width: 45% !important;
  }

  .testimonials .review-container .swiper-slide h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .testimonials .review-container p,
  .testimonials .faq-container p {
    font-size: 12px;
    line-height: 13px;
  }

  .testimonials {
    height: 700px;
  }

  .testimonials .top-content.faq {
    margin: 30px auto;
  }
}

@media (max-width: 550px) {
  .testimonials .review-container .swiper-slide {
    width: 55% !important;
  }

  .testimonials .faq-container {
    width: 200%;
    transform: translateX(-12%);
  }

  .testimonials {
    height: 650px;
  }
}

.review-modal-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.1s, visibility 0.1s;
}

.review-modal-overlay.active {
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.review-modal {
  background: #fff;
  border-radius: 20px;
  padding: 0;
  margin-top: 45px;
  max-width: 500px;
  width: 90%;
  max-height: 85vh;
  overflow-y: auto;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  transform: scale(0.7);
  transition: transform 0.3s;
}

.review-modal-overlay.active .review-modal {
  transform: scale(1);
}

.review-modal-overlay .modal-header {
  color: #1c212c;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d8dee36c;
}

.review-modal-overlay .modal-title {
  font-size: 24px;
  font-weight: 600;
  font-weight: 400;
  margin: 0;
}

.review-modal-overlay .close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.review-modal-overlay .close-btn i {
  color: var(--dark);
  font-size: 20px;
}

.review-modal-overlay .modal-form {
  padding: 30px;
}

.review-modal-overlay .form-section {
  margin-bottom: 25px;
}

.review-modal-overlay label {
  display: block;
  color: var(--dark);
  margin-bottom: 8px;
  font-size: 16px;
  opacity: 0.7;
}

.review-modal-overlay .star-selector {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.review-modal-overlay .star-selector .star {
  font-size: 24px;
  color: #d8dee3;
  cursor: pointer;
  transition: 0.2s;
}

.review-modal-overlay .star-selector .star.active,
.review-modal-overlay .star-selector .star:hover {
  color: #ffa600;
  transform: scale(1.1);
}

.review-modal-overlay .form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.review-modal-overlay .form-group {
  flex: 1;
}

.review-modal-overlay .form-group input,
.review-modal-overlay .form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d8dee3;
  border-radius: 22px;
  font-size: 14px;
  transition: border-color 0.3s;
  color: var(--dark);
}

.review-modal-overlay .form-group input:focus,
.review-modal-overlay .form-group textarea:focus {
  outline: 0;
  border-color: #1c1c1c8c;
}

.review-modal-overlay .form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.review-modal-overlay .checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.review-modal-overlay .checkbox-container input[type='checkbox'] {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
  accent-color: var(--main);
}

.review-modal-overlay .checkbox-container label {
  font-size: 14px;
  color: var(--dark);
  margin: 0;
  opacity: 1;
}

.review-modal-overlay .checkbox-container a {
  color: #1c212c;
  text-decoration: underline;
}

.review-modal-overlay input::placeholder,
.review-modal-overlay textarea::placeholder {
  font-size: 14px;
  color: #1c1c1cb7;
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .review-modal {
    max-width: 95%;
  }

  .review-modal-overlay .modal-header {
    padding: 10px 20px;
  }

  .review-modal-overlay .modal-title {
    font-size: 18px;
  }

  .review-modal-overlay.active {
    align-items: flex-start;
  }

  .review-modal .form-row {
    flex-direction: column;
  }

  .review-modal {
    margin-top: 75px;
    width: 95%;
    max-height: 85vh;
  }

  .review-modal-overlay .form-section {
    margin-bottom: 12px;
  }

  .review-modal-overlay .form-group textarea {
    height: 90px;
  }

  .review-modal-overlay .modal-form {
    padding: 14px 25px;
  }

  .review-modal-overlay .form-group input {
    padding: 10px;
  }
}

.maximum-dedicated {
  position: relative;
}

.maximum-dedicated .bg-image {
  width: 100%;
  height: auto;
}

.maximum-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 50px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  max-width: 95%;
  z-index: 5;
}
.maximum-content h4 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #afafaf;
}

.maximum-content p {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0px;
  width: 60%;
  color: #afafaf;
}

@media screen and (max-width: 1600px) {
  .maximum-content {
    width: 900px;
    max-width: 80%;
    top: 20%;
  }
}

@media screen and (max-width: 1000px) {
  .maximum-content {
    width: 650px;
  }

  .maximum-content h4 {
    font-size: 34px;
    line-height: 38px;
  }

  .maximum-content p {
    font-size: 16px;
    line-height: 20px;
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .maximum-content {
    gap: 20px;
  }

  .maximum-content h4 {
    font-size: 26px;
    line-height: 28px;
  }

  .maximum-content p {
    font-size: 14px;
    line-height: 16px;
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .maximum-content {
    max-width: 80%;
    gap: 20px;
  }

  .maximum-content h4 {
    font-size: 20px;
    line-height: 22px;
  }

  .maximum-content p {
    width: 80%;
  }
}
  
  @media screen and (max-width: 500px) {
 
  .maximum-content h4 {
    font-size: 16px;
    line-height: 18px;
  }

  .maximum-content p {
    font-size: 13px;
    line-height: 15px;
  }
}